@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

body {
    background-image: url("./assets/tierra.jpg");
    font-family: 'Patrick Hand', cursive;
}

h1 {
    color: #F8C471;
    text-align: center;
    font-size: 3rem;
}

h2 {
    color: #873600;
    text-align: center;
    font-size: 2.5rem;
    text-decoration: overline;
}

a {
    font-size: 1.5rem;
    color: #873600;
    text-decoration: none;
}

#fila {
    border-radius: 10px;
    background-color: #F8C471;
    width: 500px;
}

.row {
    display: flex;
}

li {
    list-style: none;
}